Install libraries

In [ ]:
!pip install pandas==1.2.4 dnspython==2.1.0 pymongo==3.11.4

Import Libraries

In [1]:
import datetime
import pymongo
import pandas as pd

Connect to DB

In [2]:
client = pymongo.MongoClient("mongodb+srv://nosql:nosql@cluster0.v4pfc.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.progetto

1. Per uno specifico cliente, determinare le quantit√† di ciascun prodotto acquistato in un determinato periodo;

In [3]:
# DATE DISPONIBILI NEL DB: Dal 2020-01-01 al 31-12-2020
# CF DISPONIBILI NEL DB: VTLB4CB4GEI92KW5, 0T1B0ZJKYSZJ32UC, EHLADQRKDFV78NDS, W785D1D4CH8CEI89, WNE850TY9X99MTRD

cf = 'VTLB4CB4GEI92KW5'
start_date = datetime.datetime(2020, 1, 1)
end_date = datetime.datetime(2020, 12, 31)

cursor = db.spesa.aggregate(
    [
        {
            '$match': {
                'cliente': cf,
                'data': { '$gte' : start_date, '$lte' : end_date}
            }
        },
        {'$unwind': '$composizione_spesa'},
        {
         '$lookup':
           {
             'from': 'prodotto',
             'localField': "composizione_spesa.prodotto",
             'foreignField': "_id",
             'as': "prodotto_doc"
           }
        },
        {
            '$group':
             {
               '_id': '$composizione_spesa.prodotto',
               'descrizione': { '$first': {'$first': '$prodotto_doc.descrizione' }},
               'count': { '$sum': '$composizione_spesa.quantita' }
             }
        }
    ]
)

pd.DataFrame(cursor)

   _id           descrizione  count
0    4            Prosciutto      2
1    7        Rigatoni Patti      3
2    5            Lenticchia      3
3    2        Biscotto Doria      1
4    1  Biscotto Grancereale      2
5    6       Fusilli Barilla      3
6    3      Fesa di tacchino      2

2. Per un determinato prodotto, determinare il numero dei clienti distinti che lo hanno acquistato in un determinato periodo;

In [4]:
# DATE DISPONIBILI NEL DB: Dal 2020-01-01 al 31-12-2020
# CODICI PRODOTTI DISPONIBILI NEL DB: 1, 2, 3, 4, 5, 6, 7

cod_prodotto = 1
start_date = datetime.datetime(2020, 1, 1)
end_date = datetime.datetime(2020, 12, 31)

cursor = db.cliente.aggregate(
    [
        {
            '$lookup': {
                'from': 'spesa',
                'localField': '_id',
                'foreignField': 'cliente',
                'as': 'spesa'
            }
        },
        {
            '$match': {
                'spesa.composizione_spesa.prodotto': cod_prodotto,
                'spesa.data': { '$gte' : start_date, '$lte' : end_date}
            }
        },
        {
            '$group': {
                '_id': cod_prodotto,
                'n_clienti': {'$sum': 1 }
            }
        },
        {
            '$lookup': {
                'from': 'prodotto',
                'localField': '_id',
                'foreignField': '_id',
                'as': 'prodotto'
            }
        },
        {
            '$project': {
                '_id': '$_id',
                'descrizione': {'$first': '$prodotto.descrizione'},
                'n_clienti': '$n_clienti'
            }
        }
    ]
)

pd.DataFrame(cursor)

   _id           descrizione  n_clienti
0    1  Biscotto Grancereale          4

3. Individuare tutti i clienti che hanno acquistato un prodotto in promozione, indicandone il CAP di residenza;

In [5]:
# CAP DISPONIBILI NEL DB: 95545, 40265, 30524, 74520, 20085

cap = 95545

cursor = db.cliente.aggregate(
    [
        {
            '$match': {'CAP': cap}
        },
        {
            '$lookup': {
                'from': 'spesa',
                'localField': '_id',
                'foreignField': 'cliente',
                'as': 'spesa'
            }
        },
        {
            '$lookup': {
                'from': 'prodotto',
                'localField': 'spesa.composizione_spesa.prodotto',
                'foreignField': '_id',
                'as': 'prodotto'
            }
        },
        {
            '$match': {
                'prodotto.promozione': {
                    '$elemMatch': {'$not': {'$size': 0 } }
                }
            }
        },
        {
            '$unset': ['spesa', 'prodotto']
        }
    ]
)

pd.DataFrame(cursor)

,_id,nome,anno_nascita,sesso,reddito,CAP,via,civico,citta,provincia,regione
0,0T1B0ZJKYSZJ32UC,Giuseppe Verdi,1985-08-06 00:00:00,M,524415,95545,Via plutarco,2,Belpasso,CT,Sicilia

4. Per uno specifico CAP, individuare i clienti che hanno fatto acquisti in un determinato periodo;

In [6]:
# DATE DISPONIBILI NEL DB: Dal 2020-01-01 al 31-12-2020
# CAP DISPONIBILI NEL DB: 95545, 40265, 30524, 74520, 20085

cap = 95545
start_date = datetime.datetime(2020, 1, 1)
end_date = datetime.datetime(2020, 12, 31)

cursor = db.cliente.aggregate(
    [
        {
            '$match': {'CAP': cap}
        },
        {
            '$lookup': {
                'from': 'spesa',
                'localField': '_id',
                'foreignField': 'cliente',
                'as': 'spesa'
            }
        },
        {
            '$match': {
                'spesa.data': { '$gte' : start_date, '$lte' : end_date}
            }
        },
        {
            '$unset': ['spesa']
        }
    ]
)

pd.DataFrame(cursor)

,_id,nome,anno_nascita,sesso,reddito,CAP,via,civico,citta,provincia,regione
0,0T1B0ZJKYSZJ32UC,Giuseppe Verdi,1985-08-06 00:00:00,M,524415,95545,Via plutarco,2,Belpasso,CT,Sicilia

5. Per uno specifico CAP, individuare i clienti che non hanno fatto acquisti in un determinato periodo;

In [7]:
# DATE DISPONIBILI NEL DB: Dal 2020-01-01 al 31-12-2020
# CAP DISPONIBILI NEL DB: 95545, 40265, 30524, 74520, 20085

cap = 95545
start_date = datetime.datetime(2020, 12, 5)
end_date = datetime.datetime(2020, 12, 6)

cursor = db.cliente.aggregate(
    [
        {
            '$match': {
                'CAP': cap,
                '_id': {
                    '$nin': db.spesa.find(
                        { 'data': { '$gte' : start_date, '$lte' : end_date}}
                    ).distinct('cliente')
                }
            }
        },
    ]
)

pd.DataFrame(cursor)

,_id,nome,anno_nascita,sesso,reddito,CAP,via,civico,citta,provincia,regione
0,0T1B0ZJKYSZJ32UC,Giuseppe Verdi,1985-08-06 00:00:00,M,524415,95545,Via plutarco,2,Belpasso,CT,Sicilia

6. Per ciascun prodotto in promozione determinarne la quantit√† venduta in un determinato periodo;

In [8]:
# DATE DISPONIBILI NEL DB: Dal 2020-01-01 al 31-12-2020

start_date = datetime.datetime(2020, 2, 5)
end_date = datetime.datetime(2020, 4, 5)

cursor = db.spesa.aggregate(
[
    {
        '$unwind': {
            'path': '$composizione_spesa'
        }
    }, {
        '$lookup': {
            'from': 'prodotto',
            'localField': 'composizione_spesa.prodotto',
            'foreignField': '_id',
            'as': 'prodotto'
        }
    }, {
        '$addFields': {
            'prodotto': {
                '$first': '$prodotto'
            }
        }
    }, {
        '$unwind': {
            'path': '$prodotto.promozione'
        }
    }, {
        '$match': {
            '$expr': {
                '$and': [
                    {
                        '$gt': [
                            '$data', '$prodotto.promozione.data_inizio'
                        ]
                    }, {
                        '$lt': [
                            '$data', '$prodotto.promozione.data_fine'
                        ]
                    }
                ]
            },
            'data': {
                '$gte': start_date,
                '$lte': end_date
            }
        }
    }, {
        '$group': {
            '_id': '$composizione_spesa.prodotto',
            'descrizione': {
                '$first': '$prodotto.descrizione'
            },
            'quantita': {
                '$sum': '$composizione_spesa.quantita'
            }
        }
    }
]
)

pd.DataFrame(cursor)

   _id           descrizione  quantita
0    1  Biscotto Grancereale         1
1    3      Fesa di tacchino         1
2    5            Lenticchia         2
3    2        Biscotto Doria         1
4    6       Fusilli Barilla         2

7. I clienti che non hanno mai pagato con bancomat o carta di credito;

In [9]:
cursor = db.cliente.aggregate(
    [
        {
            '$match': {
                '_id': {
                    '$nin': db.spesa.find(
                        { 'tipo_pagamento': { '$in' : ['bancomat', 'carta']}}
                    ).distinct('cliente')
                }
            }
        },
    ]
)

pd.DataFrame(cursor)

,_id,nome,anno_nascita,sesso,reddito,CAP,via,civico,citta,provincia,regione
0,0T1B0ZJKYSZJ32UC,Giuseppe Verdi,1985-08-06 00:00:00,M,524415,95545,Via plutarco,2,Belpasso,CT,Sicilia

8. Il cliente che ha speso di pi√π in un determinato periodo

Non ho implementato la seconda versione (con una aggregation innestata) poich√© estremamente inefficente

In [10]:
# DATE DISPONIBILI NEL DB: Dal 2020-01-01 al 31-12-2020

start_date = datetime.datetime(2020, 12, 4)
end_date = datetime.datetime(2020, 12, 31)

cursor = db.spesa.aggregate(
    [
        {
            '$match': {
                'data': {
                    '$gte': start_date,
                    '$lte': end_date
                }
            }
        }, {
            '$group': {
                '_id': '$cliente',
                'totale': {
                    '$sum': '$totale'
                }
            }
        }, {
            '$sort': {
                'totale': -1
            }
        },{
            '$limit': 1
        },
    ]
)

pd.DataFrame(cursor)

                _id  totale
0  WNE850TY9X99MTRD     0.7

9. Per uno specifico CAP la spesa media per scontrino in un determinato periodo;

Dalla rilettura del testo, ho compreso che chiedeva la media della spesa di un prodotto in tutti gli scontrini.
Tuttavia questa √® la query che abbiamo chiarito con il professore La Cascia via mail.

In [11]:
# DATE DISPONIBILI NEL DB: Dal 2020-01-01 al 31-12-2020
# CAP DISPONIBILI NEL DB: 95545, 40265, 30524, 74520, 20085

cap = 95545
start_date = datetime.datetime(2020, 1, 5)
end_date = datetime.datetime(2020, 12, 6)


cursor = db.cliente.aggregate(
    [
        {
            '$lookup': {
                'from': 'spesa',
                'localField': '_id',
                'foreignField': 'cliente',
                'as': 'spesa'
            }
        }, {
            '$match': {
                'spesa.data': {
                    '$gte': start_date,
                    '$lte': end_date
                },
                'CAP': cap
            }
        }, {
            '$unwind': {
                'path': '$spesa'
            }
        }, {
            '$group': {
                '_id': '$_id',
                'cap': {
                    '$first': '$CAP'
                },
                'media': {
                    '$avg': '$spesa.totale'
                }
            }
        }
    ]
)

pd.DataFrame(cursor)

                _id    cap     media
0  0T1B0ZJKYSZJ32UC  95545  8.798333

9. Per uno specifico CAP la spesa media per scontrino in un determinato periodo;

Questa invece √® la versione che ho inteso dopo: "la media della spesa di un prodotto in tutti gli scontrini"

In [12]:
# DATE DISPONIBILI NEL DB: Dal 2020-01-01 al 31-12-2020
# CAP DISPONIBILI NEL DB: 95545, 40265, 30524, 74520, 20085

cap = 95545
start_date = datetime.datetime(2020, 1, 5)
end_date = datetime.datetime(2020, 12, 6)

cursor = db.cliente.aggregate(
    [
        {
            '$lookup': {
                'from': 'spesa',
                'localField': '_id',
                'foreignField': 'cliente',
                'as': 'spesa'
            }
        }, {
            '$match': {
                'spesa.data': {
                    '$gte': start_date,
                    '$lte': end_date
                },
                'CAP': cap
            }
        }, {
            '$unwind': {
                'path': '$spesa'
            }
        }, {
            '$unwind': {
                'path': '$spesa.composizione_spesa'
            }
        }, {
            '$lookup': {
                'from': 'prodotto',
                'localField': 'spesa.composizione_spesa.prodotto',
                'foreignField': '_id',
                'as': 'prodotto'
            }
        },{
            '$group': {
                '_id': '$spesa.composizione_spesa.prodotto',
                'descrizione': {
                    '$first': {'$first': '$prodotto.descrizione'}
                },
                'media': {
                    '$avg': '$spesa.composizione_spesa.prezzo'
                }
            }
        }
    ]
)

pd.DataFrame(cursor)

   _id           descrizione     media
0    2        Biscotto Doria  0.760000
1    1  Biscotto Grancereale  0.641667
2    3      Fesa di tacchino  4.920000
3    4            Prosciutto  6.000000
4    6       Fusilli Barilla  1.425000
5    7        Rigatoni Patti  0.700000
6    5            Lenticchia  0.540000

10. Per ciascuna categoria di prodotti il totale del prezzo pagato per i prodotti venduti in un determinato periodo.

In [13]:
# DATE DISPONIBILI NEL DB: Dal 2020-01-01 al 31-12-2020

start_date = datetime.datetime(2020, 1, 1)
end_date = datetime.datetime(2020, 12, 31)

cursor = db.prodotto.aggregate(
    [
        {
            '$lookup': {
                'from': 'spesa',
                'localField': '_id',
                'foreignField': 'composizione_spesa.prodotto',
                'as': 'spesa'
            }
        }, {
            '$unwind': {
                'path': '$spesa'
            }
        }, {
            '$unwind': {
                'path': '$spesa.composizione_spesa'
            }
        }, {
            '$match': {
                '$expr': {
                    '$eq': [
                        '$_id', '$spesa.composizione_spesa.prodotto'
                    ]
                },
                'spesa.data': {
                    '$gte': start_date,
                    '$lte': end_date
                },
            }
        }, {
            '$group': {
                '_id': '$categoria',
                'totale': {
                    '$sum': '$spesa.composizione_spesa.prezzo'
                }
            }
        }
    ]
)

pd.DataFrame(cursor)

        _id     totale
0    legumi   4.320000
1     pasta  21.924999
2  biscotti  14.425000
3    salumi  76.800001

Close connection

In [14]:
cursor.close()
client.close()